
.explore-view {
    margin-top: 8em;
    margin-bottom: 4em;
}

.explore-image {
    padding: 0.5em;
    max-height: 250px;
    filter: brightness(80%);
    border-radius: 15px;
}

.search-bar {
    max-width: 300px;
}

.image-content {
    position: absolute;
    left: 1em;
    color: white;
    text-shadow: 0 4px 15px black;
    line-height: 1.5;
}


.wrapper {
    position: relative;
}

#img-id {
    display: flex;
    position: absolute;
    top: 14em;
    right: 0;
}

p.MuiTypography-root {
    margin-left: 0.3rem;
}

#img-id a {
    color: white;
    text-decoration: none;
}