header.MuiAppBar-colorPrimary {
    background-color: white;
    color: dimgrey;
}

.plan-bar {
    position: fixed;
}

.globe-icon img {
    width: 36px;
    height: 36px;
    padding-right: 0.5em;
}

.app-icons {
    margin-left: auto;
}

.app-title a {
    color: black;
    text-decoration: none;
}

button .MuiSvgIcon-root {
    fill: dimgrey;
    text-decoration: none;
}

.app-icons .MuiIconButton-root {
    font-size: small;
}