html {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

body {
    margin: 0;
}

.search-bar {
    margin-top: 7em;
    margin-left: 8em;
    padding: 2em;
}

.content {
    margin-top: 3em;
}

