.sign-up-dialog.MuiDialog-paper {
    height: 500px;
}

div.text-field {
    margin-left: 4.5em;
    width: 70%
}

button#submit-button {
    margin-left: 15em;
    color: dimgrey;
}

.MuiDialog-paper {
    width: 500px;
}

.MuiDialog-paperWidthSm {
    max-width: 100%;
}