.MuiGrid-item .user-container {
    margin-left: auto;
    margin-right: auto;
}

.MuiGrid-item .date-picker {
    margin-left: 5em;
    margin-right: auto;
    width: 410px;
}

.MuiPickersModal-dialogRoot {
    width: 350px;
}

.MuiPickersBasePicker-pickerView {
    margin-left: auto;
    margin-right: auto;
}

button.MuiButton-root {
    margin-left: 0;
}

button#submit-form-button {
    margin-left: 17em;
    color: dimgrey;
}

div.MuiPickersToolbar-toolbar, button.MuiPickersDay-daySelected, button.MuiPickersDay-daySelected:hover {
    background-color: dimgrey;
}

div.MuiSnackbarContent-root {
    background-color: darkgreen;
}


