.profile-title {
    padding-top: 3em;
    text-align: center;
}

.profile-info {
    padding-top: 0.5em;
    display: flex;
}

.plan-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.card {
    margin-top: 2em;
}