svg.MuiSvgIcon-root.favorite {
    fill: #b52b62;
}

div.card {
    max-width: 30em;
    margin: auto;
}

.card-media {
    max-height: 15em;
}

.title {
    color: dimgrey;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: dimgrey;
}