.day-panel {
    display: flex;
}

.algolia-places:nth-child(1) {
    display: none;
}

.disabled-input input[type="text"], textarea {
    color: grey;
    background-color: lightgrey;
    pointer-events: none;
}

.content-row {
    display: flex;
}

svg.MuiSvgIcon-root.remove-row {
    fill: lightgrey;
}

.panel-input {
    width: 33.5em;
}