.container {
    padding-top: 5em;
}

.cover-photo {
    width: 100%;
    margin: 0;
    max-height: 350px;
    filter: brightness(60%);
}

.image-content {
    position: absolute;
    top: 15.5em;
    left: 1em;
    color: white;
    text-shadow: 0 4px 15px black;
    line-height: 1.5;
}

h1, p {
    margin: 0;
    padding: 0;
}

div.MuiAvatar-root {
    width: 80px;
    height: 80px;
}


.user-card {
    margin-left: 6em;
    max-width: 200px;
}

.user-info {
    text-align: -webkit-center
}

p.grid-content {
    font-size: 0.8rem;
}

circle {
    color: dimgrey;
}

.MuiGrid-container {
    padding-bottom: 5em;
}

.favorite-content {
    display: flex;
}