.shelf-container {
    padding-top: 5em;
}

div.grid-item {
    margin: 0 auto;
}

div.folder-icon {
    width: 50px;
    height: 50px;
}

svg.MuiSvgIcon-root.add-icon {
    fill: #ffffff;
}

.text-button {
    color: white;
    font-weight: bold;
}